{{>header}}
<!-- BODY -->
<tr>
    <td style="padding:36px 30px 42px 30px;">
        <table role="presentation" style="width:100%;border-collapse:collapse;border:0;border-spacing:0;">
            <tr>
                <td style="padding:0 0 36px 0;color:#153643;">
                    <h1 style="font-size:24px;margin:0 0 20px 0;font-family:Arial,sans-serif;">C贸digo de autenticaci贸n:
                    </h1>
                    <p style="margin:0 0 12px 0;font-size:16px;line-height:24px;font-family:Arial,sans-serif;">Hola!
                        {{name}}.</p>
                    <p style="margin:0 0 12px 0;font-size:16px;line-height:24px;font-family:Arial,sans-serif;">Por favor
                        ingresa el siguiente c贸digo en el aplicativo.</p>
                    <p style="margin:0 0 12px 0;font-size:16px;line-height:24px;font-family:Arial,sans-serif;">Tu c贸digo
                        es <b>{{authCode}}</b></p>
                </td>
            </tr>

        </table>
    </td>
</tr>
<!-- BODY -->
{{>footer}}